body {
  background-image: linear-gradient(#edaa63, #f0f2a2, #d2d7dd);
}

.top {
  text-align: center;
}

.top h1 {
  font-size: 43px;
  font-style: italic;
  font-weight: bold;
  color: #1e60c9;
  text-shadow: 2px 2px 8px #5793cc;
}

.top p {
  margin: 12px;
  border: 2px solid #034fc6;
  padding: 20px;
  background-color: #d0eef2;
  font-size: 25px;
  font-style: italic;
  color: #033482;
}

#picture {
  width: 20%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images {
  width: 300px;
  height: 200px;;
  display: block;
}

#about_me {
  margin-left: : 200px;
}


.main {
  width: 49%;
  float: left;
  padding: 4px;
  margin: 4px;
}

.main h2{
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  color: #072dc4;
  text-decoration: inherit;
  text-shadow: 2px 2px 8px #10497f;
}

.main li{
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  padding-top: 12px;
  color: #80acf2;
  text-decoration: underline;
}

.background {
  width: 49%;
  float: left;
}

.background h2{
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  padding-top: 20px;
  color: #072dc4;
  text-decoration: inherit;
  text-shadow: 2px 2px 8px #10497f;
}

.background h3 {
  font-size: 30px;
  padding-top: 19px;
  color: #02331c;
  text-shadow: 2px 2px 8px #85ad9a;
}

.background li{
  font-size: 20px;
  font-style: italic;
  padding-top: 15px;
  color: #1618a0;
  text-shadow: 2px 2px 8px #9890b2;
}

.background p {
  font-size: 20px;
  font-style: italic;
  padding-top: 15px;
}

.wikipedia {
  background-color: #e02626;
}

.highlight {
  background-color: #09a3e5;
}

.important {
  background-color: #b74556;
}
